.App {
  text-align: center;
}
body{
  font-family: 'nanumsquare';
  background: #faf8f8;
}
.black-nav{
  background:white;
  border-style: solid;
  border-width: 0.5px;
  border-color: #eeeeee;
  width:100%;
  display:flex;
  color:black; 
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  box-sizing: border-box;
}
.listFormat{
  float:left;
  margin-right: 0.5%;
  margin-left: 10%;
  width : 50%;
  background: #faf8f8;
}
.sideFormat{
  margin-right: 10%;
  margin-left: 0.5%;
  width : 29%;
  left:60.5%;
  background: #faf8f8;
  position: fixed;
}
.postList{
  background: white;
  margin-top:30px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #eeeeee;
  border-radius: 0.5%;
}
.titleBox{
  display: inline-block;
  height: 50px;
  width: 100%;
}
.contentImg{
  float:left;
  display: flex;
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background: black;
}
.contentTitle{
  margin-top:5px;
  display: flex;
  float:left;
  font-size: 15px;
  font:bold;
  height: 50px;
  width: auto;
}
.subTitle{
  font-size: 10px;
}
.mainContents{
  background : #61dafb;
  height: 600px;
}
.dateStyle{
  text-align: left; 
  color : coral;
  font-size: 15px;
  margin-left : 10px;
  padding-top : 3px;
  padding-bottom : 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
