.black-nav{
    background:white;
    border-style: solid;
    border-width: 0.5px;
    border-color: #eeeeee;
    width:100%;
    display:flex;
    color:black; 
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: "hyemin_bold";
  }
  .mainTitle{
    margin-left:33%;
  }
  .searchBox{
    position: relative;
    left:30%;
    display: inline-flex;
  }
  .inputBox{
    text-align: center;
    color: #eeeeee;
  }