.App {
  text-align: center;
  background:rgb(248, 248, 248)
}
body{
  font-family: 'nanumsquare';
  background: hsl(0, 0%, 96%);
}
.sideFormat{
  margin-right: 8%;
  margin-left: 2.5%;
  width : 29%;
  left:60.5%;
  background: hsl(0, 0%, 96%);
  position: fixed;
}

@font-face {
  font-family: "hyemin_bold";
  src: url("./fonts/IM_Hyemin-Bold.ttf");
}

@font-face {
  font-family: "hyemin";
  src: url("./fonts/IM_Hyemin-Regular.ttf");
}