.option{
    float:right;
    display: inline-flex;
    width : 2rem;
    height: 2rem;
    margin-right:15px;
    background: white;
    padding : 0.5rem;
    cursor : pointer;
  }
  .postList{
    display: inline-flexbox;
    overflow: hidden;
    background: white;
    text-align: left;
    border-color: #eeeeee;
    border-radius: 0.5%;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  .titleBox{
    display: flex;
    float: left;
    height: 50px;
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
  }
  .contentImg{
    float:left;
    display: flex;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background: black;
  }
  .contentTitle{
    display: inline-flexbox;
    font-size: 15px;
    font:bold;
    height: 50px;
    width: 100%;
  }
  .mainContents{
    display: inline-flex;
    max-height: 600px;
    height: auto;
    width: 100%;
  }
  .txt{
    padding-left: 15px;
    padding-right: 15px;
    word-wrap: break-all;
  }
  .img{
    height: 100%;
    width: 100%;
  }
  .ogImg{
    height: 270px;
    width: 270px;
    border-style: solid;
    border-width: 0.1px;
    border-color:rgb(199, 199, 199);
    cursor: pointer;
  }
  .ogContents{
    display: flow-root;
    padding: 20px;
    width: 100%;
    border-style: solid;
    border-width: 0.1px;
    border-left-width: 0px;
    border-color:rgb(199, 199, 199);
    cursor: pointer;
  }
  .main{
    height: 80%;
  }
  .url{
    height: 20%;
  }
  .detailStyle{
    text-align: left; 
    color : gray;
    font-size: 15px;
    margin : 10px;
    padding-top : 3px;
    padding-bottom : 3px;
  }
  .titleText{
    margin : 0px;
    font-size : 20px;
  }
  .subText{
    margin : 0px;
    font-size: 12px;
    color : gray;
  }
  .commentsTitle{
    margin-left: 15px;
    margin-bottom: 0px;
  }
  .moreComents{
    margin-left: 20px;
    text-decoration: underline;
    color : darkkhaki;
  }
  .comments{
    margin: 0px;
  }
