.menuList{
    border-style: hidden;
    border-color: rgb(255, 255, 255);
    display: flex;
    margin-top:10px;
  }
  .menus{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background:rgb(255, 255, 255);
    border-radius: 0.5px;
    text-align: center;
    font-weight: 800;
    border-style:outset;
    border-width: 1px;
  }
  .listFormat{
    float:left;
    margin-right: 0.5%;
    margin-left: 10%;
    width : 50%;
    background: hsl(0, 17%, 98%);
  }
