.menuList{
    border-style: hidden;
    border-color: rgb(255, 255, 255);
    display: flex;
    margin-top:0.5px;
    height: 50px;
  }
  .menus{
    padding-top: 10px;
    width: 100%;
    background: hsl(0, 0%, 96%);
    font-size: 18px;
    border-radius: 0.5px;
    font-weight: 800;
    border-width: 0.1px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: hsl(0, 17%, 98%);
    text-decoration: none;
    color: black;
  }
  .listFormat{
    float:left;
    margin-right: 0.5%;
    margin-left: 10%;
    width : 50%;
    background: hsl(0, 17%, 98%);
  }
  .on{
    background:rgb(255, 255, 255);
  }
